//
// To make future updates easier consider overriding the global variables from _variables.bootstrap.scss and _variables.custom.scss for current demo in this file.
// Note that this file is included first and variables defined in _variables.bootstrap.scss and _variables.custom.scss
// are not accessible in this file but you can override any global variable as shown below:
//

// Theme colors
// Override primary color variants
$primary: #673ab7 !default; // Bootstrap variable
$primary-hover: darken(#673ab7, 4%) !default; // Custom variable
$primary-light: #e1f0ff !default; // Custom variable
$primary-inverse: #ffffff; // Custom variable

$secondary: #a21caf !default; // Bootstrap variable
$secondary-hover: darken(#a21caf, 4%) !default; // Custom variable
$secondary-light: #e1f0ff !default; // Custom variable
$secondary-inverse: darken(#a21caf, 20%) !default; // Custom variable

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col,
.col-auto,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm,
.col-sm-auto,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md,
.col-md-auto,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg,
.col-lg-auto,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl,
.col-xl-auto,
.col-xxl-1,
.col-xxl-2,
.col-xxl-3,
.col-xxl-4,
.col-xxl-5,
.col-xxl-6,
.col-xxl-7,
.col-xxl-8,
.col-xxl-9,
.col-xxl-10,
.col-xxl-11,
.col-xxl-12,
.col-xxl,
.col-xxl-auto {
    position: relative;
    width: 100%;
    padding-right: 10.5px;
    padding-left: 10.5px;
}

.flex {
    display: flex;
}

.space-between {
    justify-content: space-between;
}

.w-full {
    width: 100%;
}

.m-top {
    margin-top: 1.5rem;
}

.rounded-avatar {
    margin-top: 2rem;
    border-radius: 50%;
}

.aside-menu .menu-nav {
    margin: 0;
    list-style: none;
    padding: 0px 0;
}

.aside-menu .menu-nav > .menu-section {
    margin: 0px 0 0 0;
    height: 40px;
}
.aside-menu .menu-nav > .menu-item .menu-submenu .menu-item > .menu-heading .menu-text,
.aside-menu .menu-nav > .menu-item .menu-submenu .menu-item > .menu-link .menu-text {
    font-size: 1rem;
}

.aside-menu .menu-nav > .menu-item > .menu-heading .menu-text,
.aside-menu .menu-nav > .menu-item > .menu-link .menu-text {
    font-size: 1rem;
}

.aside-menu .menu-nav > .menu-item > .menu-link {
    padding: 9px 20px;
}

.justify-center {
    justify-content: center;
}

.justify-start {
    justify-content: flex-start;
}

.align-items-center {
    align-items: center;
}

.text-xs {
    font-size: .9rem;
}
.text-sm {
    font-size: small;
}
.text-md {
    font-size: medium;
}
.text-lg {
    font-size: large;
}
.text-xl {
    font-size: larger;
}
.text-xxl {
    font-size: 35px;
}
.text-underline {
    text-decoration: underline;
}
.menu-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 110px;
}

.drawer-box{
    min-width: 400px;
    .card-body{
        min-height: 75vh;
    }
}

// SWAL notification

.swal2-title {
    font-size: 1.3rem;
}

div.org-tree-node-label{
    min-width: 200px;
}

div.org-tree-node-label .org-tree-node-label-inner {
    padding: 0px;
}

div.org-tree-container {
    display: flex;
    margin-top: 20px;
    background-color: #fff;
    width: 100%;
    align-content: flex-start;
    justify-content: center;
}

@media print {
    div.no-print{
        display: none;
    }
}